@import "../../variables.scss";

/*.......... Host Container ..........*/

:host {
  display: block;
  height: 95%;
  width: 85%;
  background-color: $background;
  @include neumorphism(20px, $background);
  @media (max-width: $tablet){
    box-shadow: none;
  }
}

/*.......... Main Grid Container & Grid Items ..........*/

.movies {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "add-movie view-movies";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;
  @media (max-width: $tablet) {
    grid-template-areas:
      "header"
      "add-movie"
      "view-movies";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 6fr;
  }
  & .header {
    grid-area: header;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;
    border-bottom: 2px dotted $main-text;
    @include border-gradient(right, 8);
    @media (max-width: $tablet) {
      justify-content: center;
      border: none;
    }
  }
  & .add {
    grid-area: add-movie;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-bottom: 2em;
    border-right: 2px dotted $main-text;
    @include border-gradient(top, 4);
    @media (max-width: $tablet) {
      justify-content: center;
      margin-top: 0em;
      margin-bottom: 0em;
      border: none;
    }
  }
  & .view {
    grid-area: view-movies;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin-top: 1em;
    margin: 2em;
    overflow-y: auto;
    @media (max-width: $tablet) {
      margin-top: 0em;
      margin-bottom: 0em;
      height: 100%;
      overflow-y: visible;
    }
  }
}

/*.......... Content ..........*/

.title {
  margin-right: 2em;
  margin-left: 2em;
}

.form {
  margin: 3em 3em 1em;
  @media (max-width: $tablet) {
    margin:0;
  }
  &.edit{
    margin: 0;
    @media (max-width: $phone) {
      padding: .8em;
    }
  }
}

.no-lists {
  margin-top: 3em;
}

.movies-list {
  width: 68%;
  margin-right: auto;
  margin-left: auto;
  & .movie {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include neumorphism(20px, $background-light);
    @media (max-width: $phone) {
      flex-direction: column;
      padding: 0;
    }
    &.watched {     @include neumorphism-invert(20px, $background-dark);
      &:hover {
        @include neumorphism-invert(20px, $background-dark);
      }
    }
    & .movie-name {
      display: flex;
      margin: 1em;
      & .checkbox {
        margin-right: 1em;
      }
    }
    & .actions {
      display: flex;
      @media (max-width: $phone) {
       padding-bottom: 1em;
      }
    }
    &:hover {
      @include neumorphism-invert(20px, $background-dark);
      & .button {
        background-color: $background;
      }
    }
  }
}
