@import "../../variables.scss";

/*.......... Host Container ..........*/

:host {
  display: block;
  height: 90%;
  width: 85%;
  background-color: $background;
  @include neumorphism(20px);
}

/*.......... Main Grid Container & Grid Items ..........*/

.movies {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "add-movie view-movies";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;
  @media (max-width: 800px) {
    grid-template-areas:
      "header"
      "add-movie"
      "view-movies";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 6fr;
  }
  & .header {
    grid-area: header;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;
    border-bottom: 2px dotted $main-text;
    @media (max-width: 800px) {
      justify-content: center;
      border-bottom: none;
    }
  }
  & .add {
    grid-area: add-movie;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-bottom: 2em;
    border-right: 2px dotted $main-text;
    @media (max-width: 800px) {
      justify-content: center;
      margin-top: 0em;
      margin-bottom: 0em;
      border-right: none;
    }
  }
  & .view {
    grid-area: view-movies;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/*.......... Content ..........*/

.title {
  margin-right: 2em;
  margin-left: 2em;
}

.form {
  margin: 3em 3em 1em 3em;
  display: grid;
  grid-template-areas:
    "label label"
    "input submit";
  grid-template-rows: 1fr 1.5fr;
  grid-template-columns: 3fr 1fr;
  @media (max-width: 800px) {
    margin: 0.7em;
  }
  // match
  label {
    grid-area: label;
    margin-bottom: 0.4em;
  }
  & .input {
    grid-area: input;
    &.invalid {
      border-color: $danger;
      color: $danger;
    }
  }
  // match
  button {
    grid-area: submit;
  }
}

.no-lists {
  margin-top: 3em;
}

.movies-list {
  width: 80%;
  margin: 1.5em;
  & .movie {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include neumorphism(20px);
    @media (max-width: 800px) {
      flex-direction: column;
      padding: 1.5em;
    }
    &:hover {
      background-color: darken($background, 3%);
    }
    & .checkbox {
      flex: 0.5;
      & .label {
        visibility: hidden;
      }
    }
    & .movie-name {
      flex: 1;
    }
    & .actions {
      flex: 1;
      display: flex;
      flex-direction: row;
      @media (max-width: 800px) {
        margin-top: 1em;
      }
    }
  }
}
