<section class="list">

    <header>
        <h1>{{list[0].name}}</h1>
    </header>

    <div class="add-movie">
        <form [formGroup]="newMovie" (ngSubmit)="onSubmit()">
            <input type="text" list="suggested-movies" formControlName="movie">
            <datalist id="suggested-movies">
                <option value="test1">
                <option value="test2">
            </datalist>
            <button type="submit">Submit</button>

        </form>
    </div>

    <div class="view-movies">
        <ul>
            <li *ngFor="let movie of list[0].movies">{{movie.name}}
                <button>Delete</button>
                <button>Edit</button>
                <input type="checkbox">
            </li>
        </ul>
    </div>

</section>
