<section class="list">

    <header>
        <!-- maybe get rid of list[0] -->
        <h1>{{list[0].name}}</h1>
    </header>

    <div class="add-movie">
        <!-- form width adjustable -->
        <form [formGroup]="newMovie" (ngSubmit)="onSubmit()">
            <input type="text" list="suggested-movies" formControlName="movie" placeholder="enter a movie">
            <datalist id="suggested-movies">
                <option value="test1">
                <option value="test2">
            </datalist>
            <button type="submit"
                [disabled]="newMovie.get('movie').errors">Submit</button>
                <p *ngIf="newMovie.get('movie').errors && newMovie.get('movie').errors.required && newMovie.get('movie').touched">
                    Movie name is required.</p>
                <p *ngIf="newMovie.get('movie').errors && newMovie.get('movie').errors.nameAlreadyExists">A movie with this name already exists.</p>
        </form>
    </div>

    <div class="view-movies">
        <ul>
            <li *ngFor="let movie of list[0].movies">

                <p *ngIf="!edit">{{movie.name}}</p>

                <form *ngIf="edit" [formGroup]="newMovie" (ngSubmit)="onSubmitEdit(movie.name)">
                    <input type="text" list="suggested-movies" formControlName="movie" [value]="movie.name">
                    <datalist id="suggested-movies">
                        <option value="test1">
                        <option value="test2">
                    </datalist>
                    <button type="submit">Submit</button>
                </form>
                
                <div class="actions">
                <button class="delete" (click)="onDeleteMovie(movie.name)">Delete</button>
                <!-- warn on delete -->
                <button class="edit" (click)="onSubmitEdit(movie.name)">Edit</button>
                <form>
                <label *ngIf="!movie.watched">Mark as Watched</label>
                <input type="checkbox" (change)="onCheck(movie.name)" [checked]="movie.watched">
                </form>
                </div>
            </li>
        </ul>
    </div>

</section>
