<section class="list">
  <header>
    <!-- maybe get rid of list[0] -->
    <h1>{{ list[0].name }}</h1>
  </header>
  <div class="add-movie">
    <form [formGroup]="newMovie" (ngSubmit)="onSubmitNewMovie()" (keyup)="searchMovies(newMovie.get('movie').value)">
      <label for="add-movie">Add a new movie</label>
      <input
        id="add-movie"
        [ngClass]="{
          invalid:
            newMovie.get('movie').errors &&
            newMovie.get('movie').errors.nameAlreadyExists
        }"
        type="text"
        list="suggested-movies"
        formControlName="movie"
        placeholder="movie name"
      />
      
     
      <datalist *ngIf="searchResults" id="suggested-movies">
        <option *ngFor="let result of searchResults" value="{{result.Title}}">{{result.Title}}</option>
      </datalist>
   

      <button type="submit" [disabled]="newMovie.get('movie').errors">
        Submit
      </button>
    </form>

    <!-- Validation Errors -->
    <div
      [ngClass]="{
        invalid:
          newMovie.get('movie').errors &&
          newMovie.get('movie').errors.nameAlreadyExists
      }"
    >
      A movie with this name already exists.
    </div>
  </div>

  <div class="view-movies">
    <ul>
      <li *ngFor="let movie of list[0].movies">
        <div *ngIf="!movie.edit">{{ movie.name }}</div>

        <form
          *ngIf="movie.edit"
          [formGroup]="editMovie"
          (ngSubmit)="onSubmitEdit(movie.name)"
        >
          <label for="edit-movie">Edit your movie name</label>
          <input
            id="edit-movie"
            [ngClass]="{
              invalid:
                editMovie.get('movie').errors &&
                editMovie.get('movie').errors.nameAlreadyExists
            }"
            type="text"
            list="suggested-movies"
            formControlName="movie"
            [value]="movie.name"
          />
          <datalist id="suggested-movies">
            <option value="test1"> </option>
            <option value="test2"> </option>
          </datalist>

          <button type="submit" [disabled]="editMovie.get('movie').errors">
            Submit
          </button>
          <div
            [ngClass]="{
              invalid:
                editMovie.get('movie').errors &&
                editMovie.get('movie').errors.nameAlreadyExists &&
                editMovie.get('movie').dirty
            }"
          >
            A movie with this name already exists.
          </div>
        </form>

        <div class="actions">
          <button class="delete" (click)="onDeleteMovie(movie.name)">
            Delete
          </button>
          <!-- warn on delete -->
          <button class="edit" (click)="onClickEdit(movie.name)">Edit</button>
          <form>
            <label for="checkbox" *ngIf="!movie.watched">Mark as Watched</label>
            <input
              id="checkbox"
              type="checkbox"
              (change)="onCheck(movie.name)"
              [checked]="movie.watched"
            />
          </form>
        </div>
      </li>
    </ul>
  </div>
</section>
