@import "../variables.scss";

/*.......... Main App Layout ..........*/

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  main {
    grid-area: main;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    grid-area: footer;
  }
}

/*.......... Content ..........*/

.app-title {
  margin: 0.2em 1.5em;
}

.nav-items {
  margin: 0.2em 1.5em;
  display: flex;
  & .nav-item {
    list-style: none;
    & .nav-link {
      display: block;
      text-decoration: none;
      margin-right: 1em;
      margin-left: 1em;
      padding: 0.7em 1.4em;
      @include neumorphism(0px);
    }
  }
}
