<section class="lists">

  <header>
    <h3>Create/view lists</h3>
  </header>

  <div class="create-list">
    <form [formGroup]="newList" (ngSubmit)="onSubmit()">
      <!-- labels, placeholder caps (all caps font is good) -->
      <input type="text" formControlName="name" placeholder="Add a new list" />
      <!-- are p tags okay for small text?, needs hover cursor -->
      <button type="submit"
        [disabled]="newList.get('name').errors && (newList.get('name').errors.required || newList.get('name').errors.nameAlreadyExists)">+</button>
      <p *ngIf="newList.get('name').errors && newList.get('name').errors.required && newList.get('name').touched">List
        name is required.</p>
      <p *ngIf="newList.get('name').errors && newList.get('name').errors.nameAlreadyExists">A list with this name
        already exists.</p>
    </form>
  </div>

  <div class="view-lists">
    <header *ngIf="lists.length === 0">
      <h6><em>There are no lists to display.</em></h6>
    </header>
    <header *ngIf="lists.length !== 0">
      <h3>My Lists:</h3>
    </header>
    <ul *ngFor="let list of lists">
      <li>
        <h3>{{ list.name }}</h3>
        <button class="delete" (click)="onDeleteList(list.name)">Delete</button>
        <button class="view" [routerLink]="['/list', list.name]">View</button>
        <!-- em okay by itself? -->
        <h6>{{watchedCounter(list.name)}} of {{movieCounter(list.name)}} movies watched.</h6>
      </li>
    </ul>
  </div>
</section>