:host {
    display: block;
    height: 90%;
    width: 80%;
    background-color: darken(lightblue, 10%);
    // section needed?
    section {
      &.lists {
        // border: 1px solid green;
        height: 100%;
        background-color: darken(lightblue, 10%);
        display: grid;
        grid-template-areas:
          "header header"
          "create-list view-lists";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 6fr;
        @media (max-width: 800px) {
          grid-template-areas:
            "header"
            "create-list"
            "view-lists";
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 6fr;
        }
        header {
          grid-area: header;
          // border: 1px solid green;
          display: flex;
          justify-content: left;
          align-items: center;
          @media (max-width: 800px) {
            justify-content: center;
          }
          h3 {
            margin-right: 2em;
            margin-left: 2em;
          }
        }
        .create-list {
          grid-area: create-list;
          // border: 1px solid green;
          display: flex;
          flex-direction: column;
          justify-content: top;
          align-items: center;
          margin-top: 3em;
          @media (max-width: 800px) {
            margin-top: 0;
            justify-content: center;
            flex-direction: row;
          }
          // form {
          //   margin: 1.5em;
          // }
        }
        .view-lists {
          //overflow
          grid-area: view-lists;
          // border: 1px solid green;
          display: flex;
          align-items: center;
          flex-direction: column;
          ul {
            width: 68%;
            margin: 1.5em;
            li {
              list-style: none;
              border: 1px dotted grey;
              margin: 0.2em;
              padding: 1.5em 3em;
              display: grid;
              grid-template-areas:
              "name button-delete button-view"
              "counter button-delete button-view";
              grid-template-columns: 3fr .5fr .5fr;
              grid-template-rows: 2.5fr 1fr;
              @media (max-width: 450px){
                grid-template-areas:
                "name name"
                "counter counter"
                "button-delete button-view";
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                padding: 1em;
              }
              &:hover {
                background-color: papayawhip;
              }
              h3 {
                grid-area: name;
                @media(max-width: 450px){
                  text-align: center;
                }
              }
              button.delete{
                grid-area: button-delete;
              }
              button.view{
                grid-area: button-view;
              }
              h6{
                font-style: italic;
                grid-area: counter;
                @media(max-width: 450px){
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  