
<section class="lists">

    <header>
      <h3>Create/view lists</h3>
    </header>
  
    <div class="create-list">
  
      <form [formGroup]="newList" (ngSubmit)="onSubmit()">
        <!-- labels -->
      <input type="text" formControlName="name"/>
      <p *ngIf="newList.get('name').errors && newList.get('name').errors.required && newList.get('name').touched">List name is required.</p>
      <p *ngIf="newList.get('name').errors && newList.get('name').errors.nameAlreadyExists">A list with this name already exists.</p>
      <button type="submit" [disabled]="newList.get('name').errors && (newList.get('name').errors.required || newList.get('name').errors.nameAlreadyExists)">Submit</button>
    </form>
    </div>
  
    <div class="view-lists">
      <header>
        <h3>my lists</h3>
      </header>
      <ul>
           <li *ngFor="let list of lists">
        {{ list | json }}
        <button #deleteList (click)="onDeleteList(list.name)">Delete</button>
        <button [routerLink]="['/list', list.name]">View</button>
        <p>{{watchedCounter(list.name)}} of {{movieCounter(list.name)}} watched</p>
      </li>
    </ul>
    </div>


  </section>
  
