@import "../../variables.scss";

:host {
  display: block;
  height: 90%;
  width: 80%;
  section {
    &.lists {
      height: 100%;
      display: grid;
      grid-template-areas:
        "header header"
        "create-list view-lists";
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
      grid-template-rows: minmax(0, 1fr) minmax(0, 6fr);
      @media (max-width: 800px) {
        grid-template-areas:
          "header"
          "create-list"
          "view-lists";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 6fr;
      }
      header {
        color: $dark-text;
        &.main {
          grid-area: header;
          border-bottom: 2px dotted $main-text;
          display: flex;
          justify-content: left;
          align-items: center;
          @media (max-width: 800px) {
            justify-content: center;
          }
          h3 {
            margin-right: 2em;
            margin-left: 2em;
          }
        }
      }
      .create-list {
        grid-area: create-list;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        margin-top: 3em;
        @media (max-width: 800px) {
          margin-top: 0;
          justify-content: center;
          flex-direction: row;
        }
        form {
          display: flex;
          margin: 1.5em;
          flex-direction: row;
          input.invalid {
            border-color: $danger;
            color: $danger;
          }
        }
        div {
          visibility: hidden;
          &.invalid {
            visibility: visible;
            color: $danger;
          }
        }
      }
      .view-lists {
        grid-area: view-lists;
        display: flex;
        align-items: center;
        flex-direction: column;
        ul {
          width: 68%;
          margin: 1.5em;
          li {
            list-style: none;
            @include neumorphism(10px);
            margin: 0.2em;
            padding: 1.5em 3em;
            display: grid;
            grid-template-areas:
              "name button-delete button-view"
              "counter button-delete button-view";
            grid-template-columns: 3fr .5fr .5fr;
            grid-template-rows:minmax(0, 2.5fr) minmax(0, 1fr);
            @media (max-width: 450px) {
              grid-template-areas:
                "name name"
                "counter counter"
                "button-delete button-view";
              grid-template-rows: 1fr 1fr 1fr;
              grid-template-columns: 1fr 1fr;
              padding: 1em;
            }
            &:hover {
              background-color: darken($background, 10%);
            }
            h3 {
              grid-area: name;
              @media (max-width: 450px) {
                text-align: center;
              }
            }
            button.delete {
              grid-area: button-delete;
            }
            button.view {
              grid-area: button-view;
            }
            h6 {
              font-style: italic;
              grid-area: counter;
              @media (max-width: 450px) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
