<section class="lists">

  <header class="header">
    <h1 class="title">My Movie Lists</h1>
  </header>

  <div class="create">
    <form class="form" [formGroup]="newList" (ngSubmit)="onSubmit()">
      <!-- labels, placeholder caps (all caps font is good) -->
      <label class="label" for="add-list">Add a new list</label>
      <input
        [ngClass]="{
          invalid:
            newList.get('name').errors &&
            newList.get('name').errors.nameAlreadyExists,
            input: true
        }"
        type="text"
        id="add-list"
        formControlName="name"
        placeholder="list name"
      />
      <!--needs hover cursor -->
      <button class="button" type="submit" [disabled]="newList.get('name').errors">
        +
      </button>
    </form>

    <!-- Validation Errors -->
    <div
      [ngClass]="{
        invalid:
          newList.get('name').errors &&
          newList.get('name').errors.nameAlreadyExists,
          error: true
      }"
    >
      A list with this name already exists.
    </div>
  </div>

  <div class="content">
    <header class="no-lists" *ngIf="lists.length === 0">
      <h4 class="message"><em>There are no lists to display.</em></h4>
    </header>
    <ul class="view-lists">
      <li class="item" *ngFor="let list of lists">
        <div class="description">
          <h3 class="list-name">{{ list.name }}</h3>
          <p class="counter">
            {{ watchedCounter(list.name) }} of
            {{ movieCounter(list.name) }} movies watched.
          </p>
        </div>
        <div class="actions">
          <button class="button" (click)="onDeleteList(list.name)">
            Delete
          </button>
          <button class="button" [routerLink]="['/list', list.name]">View</button>
        </div>
      </li>
    </ul>
  </div>
</section>
