/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

body {
    background-color: $background;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

button {
    padding: .7em; 
    border: none;
    margin-right: .5em;
    margin-left: .5em;
    @include neumorphism(50px);
    &:hover {
        @include neumorphism-invert(50px, $background);
    }
    &:focus {
        outline: none;
    }
}

input {
    background: none;
    border: 1.5px solid grey;
    padding: .5em;
    border-radius: 0px;
    &:focus {
        outline: none;
    }
}

.error {
    visibility: hidden;
    &.invalid {
        color: $danger;
        visibility: visible;
    }
}

.form {
    display: grid;
    grid-template-areas:
      "label label"
      "input submit";
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 3fr 1fr;
    @media (max-width: 800px) {
      margin: 0.7em;
    }
    & .label {
      grid-area: label;
      margin-bottom: 0.4em;
    }
    & .input {
      grid-area: input;
      &.invalid {
        border-color: $danger;
        color: $danger;
      }
    }
    & .button {
      grid-area: submit;
    }
  }