/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

body {
    background-color: $background;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

button {
    padding: 1em; 
    margin: 1em;
    border: none;
    background: $background;
    @include neumorphism(60px);
}

input {
    background: none;
    border: 2px solid grey;
    border-radius: 0px;
    padding: 1em;
    &:focus {
        outline: none;
    }
}