/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightblue;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

button {
    // make sure shorthand is ok
    background: none;
    border: none;
    
}

input {
    // make more concise
    background:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
    &:focus {
        outline: none;
    }
}